@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-header: "Slackey", sans-serif;
  --font-sans: "Sofia Sans", sans-serif;
}

@layer components {
  .bg-image-shadow {
    box-shadow: 16px 16px 4px rgba(162, 89, 255, 0.25);
  }

  .shadow-skill {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  font-family: var(--font-sans);
}